.cursor-pointer{
	cursor: pointer !important;
}
.preview_close_btn{
	font-size:12px;
	position: absolute;
	top: 0;
	right: 10px;
}
.preview_img{
	max-width: 75px; 
	max-height:75px;
}
/*jainit changes start*/
.rowsize{
	width: 600px !important;
	text-wrap:wrap !important;
}
.namerowsize{
	width: 50px !important;
	text-wrap:wrap !important;
}
.icon{
	cursor: move;
}
/*jainit changes end*/
/*done*/

.output{
    position: relative;
    width: 40px;
	padding-top: 10px;
    height: 40px;
    margin-left: 50%;
    font-family: cursive;
    font-size: 16px;
    line-height: 20px;
    color: #6441A5;
    text-align: center;
   	background: #F5F9FF;
		border: 2px solid #6441A5; 
    border-radius: 50% 50% 50% 0%;
    -webkit-transition: opacity .3s ease-in-out 0s;
    transition: opacity .3s ease-in-out 0s;
}
#range{
	--active: #5628EE;
    --value: #fff;
    --line: #CDD9ED;
    touch-action: none;
	 -webkit-appearance: none;
 	 appearance: none;
    user-select: none;
    width: 520px;
    height: 2px;
    border-radius: 1px;
    background: var(--line);
    position: relative;
	
		&::-webkit-slider-thumb{
		 -webkit-appearance: none; 
  		appearance: none;
  		width: 15px;
  		height: 15px; 
			background: #F5F9FF;
			border: 2px solid #6441A5; 
  		cursor: pointer; 
			border-radius: 18px;
			transition: .5s ease;
			
			&:focus , &:active{
				padding: 8px;
			}
	}
	
	
	&:focus , &:active{
		outline: none;
	}
}

.dataTables_processing {
    background: transparent !important;
    border: none;
    box-shadow: none;
    z-index: 9999; 
}
html, body {
  overflow-x: hidden; 
  overflow-y: auto;
}

.no-search-box input{
  display: none !important;
}

tfoot {
  display: table-header-group;
}

.datatable_search{
  width: 100% !important;
}
